/*********** booking menu ***************************/
.tool-tip
{
	width: 150px; height: 50px;
    padding: 5px;
    background: #fff; color: #000;
    border: 1px groove #000;
    position: absolute; z-index:1001;
}

.shadow-day-effect.fc-start.fc-end
{
	background-image:
		url('images/shadow.png'),
		url('images/shadow.png');
    background-repeat: no-repeat, no-repeat !important;
    background-position: left, right !important;
    text-align: center;
}

.shadow-day-effect.fc-start
{
	background-image:
		url('images/shadow.png');
    background-repeat: no-repeat !important;
    background-position: left !important;
}

.shadow-day-effect.fc-end
{
	background-image:
		url('images/shadow.png');
    background-repeat: no-repeat !important;
    background-position: right !important;
    text-align: right;
}

/*********** booking dialog *************************/
#branch_booking_chosen
{
	width: 250px !important;
}

#booking_dialog p
{
	font-size: 12px;
}

#booking_dialog label
{
	margin: 2px 0px;
}

#booking_dialog .days
{
	font-size: 16px;
	display: inline-block;
}

#booking_dialog table td
{
	border-bottom: 1px solid #000;
	padding: 5px;
}

#booking_dialog table tr:first-child td
{
	border-top: 1px solid #000;
}
/*********** booking dialog *************************/

#booking_users_options
{
	width: 85%;
	height: 33px;
	margin: 0px 0px;
}

#booking_add_user
{
	float: right;
}

#booking_users
{
	border: 1px solid #000;
	background-color: #ddd;
	border-radius: 4px;
	width: 99%;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden; 
	padding: 4px;
}

.user-field-label
{
	margin: 4px auto;
}

.user-field
{
	display: block;
	vertical-align: center;
	width: 99%;
	height: 35px;
	border: 2px solid #000;
	border-radius: 4px;
	color: #fff;	
}

.user-field.optional
{
	background-color: green;
}

.user-field.required
{
	background-color: blue;
}

.user-field div
{
	display: table-row;
	width: 20%;
	height: 35px;
	padding: 5px 2px 5px 10px;
}

.user-field div.imgbtn
{
	width: 35px;
	display: table-cell;
}

.user-field div.imgbtn img
{
	width: 25px;
	height: 25px;
	background-color: #000;
	border-radius: 4px;
	right: 0;
}

.user-field div.imgbtn img.remove
{
	background-color: #aaa;
	border-color: #ddd;
}

.user-field div.imgbtn img.remove:hover
{
	background-color: #fff;
	border-color: #333;
}

.user-field div.user
{
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	width: 35%;
}

.user-field div.email
{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 35%;
}

.user-field div.realname
{
	text-align: right;
	vertical-align: middle;
	display: table-cell;
	width: 35%;
}




