table.kit-status
{
    width: 100%;

}
tr.kit-status
{
    cursor: pointer;
}
tr.kit-status:nth-child(2n+1) td
{
    background: aliceblue;
}
th.kit-status
{
    background: bisque;
    text-align: center;
}
td.kit-status
{

}
.kit-status.kit-type
{
    width: 20%;

}
.kit-status.kit-name
{
    width: 25%;

}
.kit-status.branch-id
{
    width: 8%;

    text-align: center;
}
.kit-status.kit-state
{
    width: 10%;

    text-align: center;
}
.kit-status.start-date
{
    width: 15%;

    text-align: center;
}
.kit-status.branch-name
{
    width: 10%;

    text-align: center;
}
.kit-status.booking-count
{
    text-align: center;

}


table.kit-contents
{
    width: 100%;

}
table.kit-contents
{

}
tr.kit-contents.header
{
    color: white;
    font-size: large;
}
th.kit-contents
{

}
th.content-name
{
    color: white;

}
th.content-serial-number
{
    width: 15%;

}
th.content-damaged
{
    width: 15%;

}
th.content-missing
{
    width: 15%;

}

td.kit-contents
{
    /* border: 1px solid grey; */

}
td.content-name
{

}
td.content-serial-number
{
    width: 15%;

    text-align: center;
}
td.content-damaged
{
    width: 15%;

    text-align: center;
}
td.content-missing
{
    width: 15%;

    text-align: center;
}
tr.kit-contents-damaged-msg
{
    width: 100%;

}
tr.kit-contents-missing-msg
{
    width: 100%;

}
table.kit-contents-row
{
    width: 100%;

    border: 1px solid black;
}
tr.kit-contents-row
{

}
